<!DOCTYPE html>
<html>
  <head>
    <title>Pets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

	<h2><%= link_to 'owners', owners_path, id: 'owners', class: 'index-list' %> |
 			<%= link_to 'cats', cats_path, id: 'cats', class: 'index-list' %> |
			<%= link_to 'dogs', dogs_path, id: 'dogs', class: 'index-list' %></h2>
	<hr>
    <%= yield %>
  </body>
</html>
